html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
===============================
basic
===============================
*/
*,
*:before,
*:after{
    box-sizing: border-box;
    margin: 0px 0px 0px 0px;
    text-align: center;
    font-family: sans-serif;
}
body{
    background-color: rgb(6, 19, 1);
    
}

h1{
    box-sizing: border-box;
    text-align: center;
    height: 50px;
    float: none;
    margin-left: 100px;
    margin-right:100px;
    font-size: 80px;
    font-weight: 200;
    font-family: sans-serif;
    color:rgb(144, 247, 10);
}
header{
    box-sizing: border-box;
    background-color: rgb(30, 24, 10);
    height: 100px;
}
nav{
    box-sizing: border-box;
    height: 40px;
    text-align: center;
    background-color: rgb(13, 24, 10) ;
}
main{
    box-sizing: border-box;
    height: 500px;
    background-color: rgb(6, 19, 1);
}
.button{
    
    background-color: rgb(45, 51, 45);
    text-decoration: none;
    padding-top: 5px;
    margin-top: 8px;
    margin-right: 140px;
    margin-left: 140px; 
    height: 25px;
    width: 100px;
    border-radius: 4px;
    display: inline-block;
    
}
.button1{
    
    background-color: rgb(45, 51, 45);
    text-decoration: none;
    padding-top: 27px;
    margin-top: 90px;
    margin-bottom: 20px;
    font-size: 30px;
    margin-left: 500px;
    height: 80px;
    width: 250px;
    border-radius: 50px;
    display: inline-block;
    
}
.button2{
    
    background-color: rgb(45, 51, 45);
    text-decoration: none;
    padding-top: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    height: 40px;
    width: 170px;
    border-radius: 4px;
    display: inline-block;
    
}
a {
    color: rgb(123, 252, 36);
}
a:hover{
    color: rgba(36, 230, 62, 0.658);
}
footer{
    background-color: rgb(6, 19, 1);
    box-sizing: border-box;
    height: auto;
    max-height: ;

}
p{
    color: white;
}
h2 {
    color: rgba(36, 230, 62, 0.658);
}
/*
===========================
feedback
===========================
*/
form input {
    margin: 10px 40px;
    padding: 10px ;
    border: 4px solid rgb(187, 245, 171);
    border-radius: 20px;
    width: 200px;
}
form textarea {
    margin: 10px auto;
    padding: 10px 25px;
    border: 4px solid rgb(187, 245, 171);
    border-radius: 30px;
}
footer p {
    
    padding-top: auto;
}
header {
    position: sticky;
    top: 0px;
}